local wezterm = require("wezterm")
local act = wezterm.action

local hostname = "{{ .chezmoi.hostname }}"
local os = "{{ .chezmoi.os }}"

local config = wezterm.config_builder()
config.automatically_reload_config = true

local wez_tmux = wezterm.plugin.require("https://github.com/sei40kr/wez-tmux")
local wez_pane_ctrl = wezterm.plugin.require("https://github.com/sei40kr/wez-pain-control")
local tabline = wezterm.plugin.require("https://github.com/michaelbrusegard/tabline.wez")

tabline.setup({
	options = {
		theme = "Hybrid",
		section_separators = "",
		component_separators = "",
		tab_separators = "",
	},
})
config.tab_bar_at_bottom = false

config.keys = {
	{ key = "u", mods = "LEADER|CTRL", action = act.EmitEvent("toggle-opacity") },
}

config.window_padding = {
	left = 0,
	right = 0,
	top = 0,
	bottom = 0,
}

config.font_size = 13.0
config.font = wezterm.font_with_fallback({
	{ family = "JetBrainsMonoNL Nerd Font Propo", weight = "Medium" },
	{ family = "Cica", scale = 1 },
	{ family = "Cica", assume_emoji_presentation = true, scale = 1.2 },
})
config.color_scheme = "Hybrid"
config.leader = { key = "t", mods = "CTRL" }

if os == "darwin" then
	config.default_prog = { "/opt/homebrew/bin/bash", "-l" }
else
	config.default_prog = { "/bin/bash", "-l" }
end

if hostname == "macbook-air" then
	config.window_decorations = "NONE"
else
	config.window_decorations = "RESIZE"
end

local mux = wezterm.mux
wezterm.on("gui-startup", function(cmd)
	local tab, pane, window = mux.spawn_window(cmd or {})
	if hostname == "macbook-air" then
		window:gui_window():toggle_fullscreen()
	else
		window:gui_window():maximize()
	end
end)

wezterm.on("toggle-opacity", function(window, pane)
	local overrides = window:get_config_overrides() or {}
	if not overrides.window_background_opacity then
		overrides.window_background_opacity = 0.80
		overrides.text_background_opacity = 0.1
	elseif overrides.window_background_opacity <= 0.40 then
		overrides.window_background_opacity = nil
		overrides.text_background_opacity = nil
	else
		overrides.window_background_opacity = overrides.window_background_opacity - 0.20
	end
	window:set_config_overrides(overrides)
end)

tabline.apply_to_config(config)
wez_tmux.apply_to_config(config, {})
wez_pane_ctrl.apply_to_config(config, {})
return config

-- vim: ft=lua:
