#!/bin/bash

# macos
{{ if eq .chezmoi.os "darwin" }}
if command brew &> /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew install --cask hammerspoon
#brew install --cask alacritty
#brew install wezterm
brew install --cask font-hack-nerd-font
brew install --cask font-jetbrains-mono
brew install --cask font-cica
brew install bash

# true color
brew install ncurses
/usr/local/opt/ncurses/bin/infocmp tmux-256color > ~/tmux-256color.info
tic -xe tmux-256color ~/tmux-256color.info
rm -f ~/tmux-256color.info
{{ end }}

# arch linux
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Arch Linux") }}
sudo echo "uname -m" > /usr/local/bin/arch
sudo chmod +x /usr/local/bin/arch
{{ end }}

# install ubi
curl --silent --location \
    https://raw.githubusercontent.com/houseabsolute/ubi/master/bootstrap/bootstrap-ubi.sh |
    sh

# install mise
curl https://mise.run | sh
mise plugins install https://github.com/comdotlinux/asdf-lazydocker.git
mise install python
mise x python -- pip install --user pipx

mise install -y

# vim: set ft=bash :
