[tools]
usage = "latest"
zellij = "latest"
jq = "latest"
yq = "latest"
starship = "latest"
github-cli = "latest"
fzf = "latest"
deno = "2.2.5"
python = "3.12"
node = "22"
awscli = "2"
lazygit = "latest"
lazydocker = "latest"
actionlint = "latest"
bat = "latest"
fd = "latest"
"pipx:awsume" = "latest"
"pipx:aider-chat" = "latest"
"pipx:uv" = "latest"
#"pipx:euporie" = "latest"
"npm:@mermaid-js/mermaid-cli" = "latest"
"npm:@poai/mcpm-aider" = "latest"
"ubi:zk-org/zk" = "latest"

{{ if or (eq .chezmoi.os "darwin") (ne .chezmoi.arch "arm64") }}
neovim = "0.11.0"
ripgrep = "latest"
"ubi:veeso/termscp" = "latest"
{{ end }}

[settings]
experimental = true

# vim: set ft=toml :
