[tools]
usage = "latest"
jq = "latest"
yq = "latest"
starship = "latest"
github-cli = "latest"
fzf = "latest"
deno = "2.0.4"
python = "3.11"
node = "22"
awscli = "2"
ghq = "latest"
lazygit = "latest"
lazydocker = "latest"
actionlint = "latest"
bat = "latest"
fd = "latest"
"pipx:awsume" = "latest"
"pipx:aider-chat" = "latest"
"ubi:mattn/memo" = "latest"
"pipx:vit" = "latest"
zoxide = "latest"
{{ if or (eq .chezmoi.os "darwin") (ne .chezmoi.arch "arm64") }}
neovim = "0.10.2"
ripgrep = "latest"
{{ end }}

[settings]
experimental = true

# vim: set ft=toml :
