memodir = "{{ .chezmoi.homeDir }}/.config/memo/_posts"
editor = "nvim"
column = 50
width = 0
selectcmd = "fzf"
grepcmd = "grep -nH ${PATTERN} ${FILES}"
memotemplate = ""
assetsdir = "."
pluginsdir = "{{ .chezmoi.homeDir }}/.config/memo/plugins"
templatedirfile = ""
templatebodyfile = ""
