[shell]
{{ if eq .chezmoi.os "darwin" }}
program = "/opt/homebrew/bin/bash"
{{ else }}
program = "/bin/bash"
{{ end }}

args = ["-l", "-c", "tmux a -t 0 2>/dev/null || tmux"]

[window]
opacity = 1.0
padding.x = 5
padding.y = 5 

decorations = "Buttonless"
decorations_theme_variant = "Dark" # "Dark"

{{ if eq .chezmoi.os "darwin" }}
option_as_alt = "OnlyLeft"
{{ end }}

{{ if and (eq .chezmoi.os "darwin") (eq .chezmoi.hostname "macbook-air") }}
startup_mode = "SimpleFullscreen"
{{ else }}
startup_mode = "Maximized"
{{ end }}

dynamic_title = false

[font]
size = 13.0
normal = { family = "Hack Nerd Font", style = "Regular" }

[colors]
transparent_background_colors = true

[keyboard]
bindings = [
  { key = "V",        mods = "Command", action = "Paste" },
  { key = "C",        mods = "Command", action = "Copy" },
  { key = "T",        mods = "Command", action = "None" },
]

[env]
TERM = "xterm-256color"

# vim: set ft=toml :

