[terminal.shell]
{{ if eq .chezmoi.os "darwin" }}
program = "/opt/homebrew/bin/bash"
{{ else }}
program = "/bin/bash"
{{ end }}

#args = ["-l", "-c", "tmux a -t 0 2>/dev/null || tmux"]
args = ["-l"]

[window]
opacity = 1.0
padding.x = 5
padding.y = 5 

{{ if eq .chezmoi.os "darwin" }}
option_as_alt = "OnlyLeft"
{{ end }}

dynamic_title = false

[font]
size = 13.0
normal = { family = "JetBrainsMonoNL Nerd Font Propo", style = "Regular" }

[colors]
transparent_background_colors = true

[keyboard]
bindings = [
  { key = "V",        mods = "Command", action = "Paste" },
  { key = "C",        mods = "Command", action = "Copy" },
  { key = "T",        mods = "Command", action = "None" },
  { key = "0",        mods = "Command", action = "ResetFontSize" },
  { key = "^",        mods = "Command", action = "IncreaseFontSize" },
  { key = "-",        mods = "Command", action = "DecreaseFontSize" },
  { Key = "F10",                        action = "ToggleFullscreen"},
]

[env]
TERM = "xterm-256color"
{{ if eq .chezmoi.os "darwin" }}
SHELL = "/opt/homebrew/bin/bash"
{{ end }}
# vim: set ft=toml :

